.profile {
    width: 90%;
    height: 90%;
  border-radius: 0%;
    object-fit: cover;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-left: 6%;
    padding-top: 20px;
}

.buttonEditIcon {
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

.buttonEditIcon img {
  width: 24px; /* Adjust icon size */
  height: 24px;
}

.buttonEditIcon:hover img {
  opacity: 0.8;
}

.profile-container {
  position: relative;
  width: 150px; /* Set a fixed width for the profile image container */
  height: 150px; /* Adjust height to fit the profile image size */
}