.Header{
    color: brown;
}

#asterisk{
    color:red;
}

.goBacktoLogin span{
    cursor: pointer;
    color:blue;
}

.errorPtag{
    color: red;
    font-size: small;
}

.registerForm{
    background-color:darkgray;
      border: 5px inset;
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 350px;
  height: 500px;
}